# Government corruption

Transparency international is a non-profit that tries to track how corrupt (or not) various government are. They just came out with their ranking for 2022, and I'm happy to say the made their data available.


## Data
[click this link](https://images.transparencycdn.org/images/CPI2022_GlobalResultsTrends.xlsx "Government Corruption")

I will be using the data linked above to answer the following questions

1. According to Transparency International, what five countries are least corrupt in 2022?
2. What five countries were most corrupt in 2022?
3. Which region of the world was least corrupt]
4. Which five countries have made the greatest improvement in 10 years, between the 2012 report and the 2022 report?

Learning Goal: Work with excel files, including multi-sheet excel.

In [5]:
# Import library

import pandas as pd

In [16]:
filename = '/Users/tomioredein/data_analyst/pandas_port/pandas_portfolio/pandas_port/CPI2022_GlobalResultsTrends.xlsx'
df = pd.read_excel(filename, header=2)

In [17]:
df

,Country / Territory,ISO3,Region,CPI score 2022,Rank,Standard error,Number of sources,Lower CI,Upper CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit,Global Insights Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,Varieties of Democracy Project,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index
0,Afghanistan,AFG,AP,24,150,6.299999,4,13.66800,34.33200,NaN,...,NaN,NaN,10,NaN,NaN,NaN,43.0,NaN,NaN,16.0
1,Albania,ALB,ECA,36,101,1.316355,8,33.84118,38.15882,NaN,...,37.0,42.0,35,NaN,NaN,32.0,27.0,NaN,42.0,29.0
2,Algeria,DZA,MENA,33,116,1.673809,6,30.25495,35.74504,NaN,...,37.0,NaN,35,NaN,NaN,24.0,29.0,NaN,NaN,36.0
3,Angola,AGO,SSA,33,116,2.807703,7,28.39537,37.60463,NaN,...,20.0,NaN,47,NaN,NaN,32.0,46.0,NaN,22.0,28.0
4,Argentina,ARG,AME,38,94,2.334808,7,34.17091,41.82909,NaN,...,37.0,NaN,35,24.0,NaN,32.0,47.0,NaN,NaN,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Venezuela,VEN,AME,14,177,1.296945,8,11.87301,16.12699,NaN,...,20.0,NaN,10,24.0,NaN,15.0,9.0,NaN,13.0,9.0
176,Vietnam,VNM,AP,42,77,1.497007,8,39.54491,44.45509,NaN,...,37.0,NaN,47,NaN,39.0,41.0,44.0,NaN,55.0,36.0
177,Yemen,YEM,MENA,16,176,1.975074,7,12.76088,19.23912,NaN,...,20.0,NaN,10,NaN,NaN,15.0,11.0,10.0,30.0,NaN
178,Zambia,ZMB,SSA,33,116,1.495884,9,30.54675,35.45325,34.0,...,37.0,NaN,35,NaN,NaN,32.0,49.0,27.0,30.0,36.0
179,Zimbabwe,ZWE,SSA,23,157,1.532080,8,20.48739,25.51261,19.0,...,37.0,NaN,22,NaN,NaN,15.0,20.0,27.0,NaN,23.0

In [22]:
# Solution to question 1
df.set_index("Country / Territory")['CPI score 2022'].sort_values(ascending=False).head()

Country / Territory
Denmark        90
Finland        87
New Zealand    87
Norway         84
Sweden         83
Name: CPI score 2022, dtype: int64

In [23]:
# Solution to question 2
df.set_index("Country / Territory")['CPI score 2022'].sort_values().head()

Country / Territory
Somalia        12
Syria          13
South Sudan    13
Venezuela      14
Yemen          16
Name: CPI score 2022, dtype: int64

In [27]:
# Solution to question 3
df.groupby("Region")['CPI score 2022'].mean().idxmax()

'WE/EU'

In [40]:
# Solution to Question 4

df = pd.read_excel( filename, sheet_name=2, header=2, usecols=[0,1,2,3,4])

In [41]:
df.head()

                  Country ISO3 Region  CPI 2022  CPI 2012
0                  Angola  AGO    SSA        33        22
1                 Armenia  ARM    ECA        46        34
2               Australia  AUS     AP        75        85
3  Bosnia and Herzegovina  BIH    ECA        34        42
4                  Canada  CAN    AME        74        84

In [43]:
df['change'] = df['CPI 2022'] - df['CPI 2012']

df['change'].sort_values(ascending=False).head()

26    18
10    16
16    14
31    14
12    12
Name: change, dtype: int64

In [46]:
df.set_index("Country")['change'].sort_values(ascending=False).head()

Country
Seychelles    18
Greece        16
Italy         14
Uzbekistan    14
Guyana        12
Name: change, dtype: int64