The covid-19 pandemic has caused all sorts of economic chaos over the last few years. Supply chains have been upended, millions of people have switched(or lost) their jobs, and inflation has been a topic of conversation for the first time in decades, And yes, central banks around the world have been raising rates and yes, inflation seem to be slowing down. But prices are still higher than they were a few year ago. One product whose prices have skyrocketed over the years is eggs. I don't know about you; I tend not to think much about the price of eggs when i do my family's shopping. (And yes, I've done the supermarket shopping for a very long time.) But for many people, the rise in egg prices has been pretty dramatic. And if you're a business that depends on egg prices? Then it has started to affect your bottom line.

Listed Below are the questions I'm fgoing to answer using the data from the US Department of Agriculture(USDA).

1. Given URLS for each of the last five years of egg prices, create a single data frame.
2. What was the average low price for eggs in each of the years of data
3. In what year was the percentage increase the greatest
4. Now get the average low price for eggs in each month and year of data
5. Have egg prices gone down in the last few months

The learning goal for this week's exercise are to turn multiple source files into a singe data frame, to work with date-time information, to do some grouping, and to look at changes in data.

In [1]:
import pandas as pd

In [15]:
# Load data
df = pd.concat([pd.read_html(f'https://marketnews.usda.gov/mnp/py-report?&repDate=01%2F01%2F{year}&regionsDesc=&endDate=12%2F31%2F{year}&repMonth=1&run=Run&_producttypefrom=1&endYear=2023&producttypefrom=&repYear=2020&categoryDesc=Egg&frequency=Daily&datatype=None+Selected&previouscls=Breaking+Stock&_producttype=1&report=NW_PY041&category=Egg&subcategory=Breaking+Stock&endMonth=1&commodityDesc=Breaking+Stock&runReport=true&format=excel')[0]
                for year in range(2018, 2024)])

In [16]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2942 entries, 0 to 441
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2942 non-null   object
 1   Region         2942 non-null   object
 2   Egg Class      2942 non-null   object
 3   Market Name    2942 non-null   object
 4   Delivery Name  2942 non-null   object
 5   Price Unit     2942 non-null   object
 6   Low Price      2942 non-null   float64
 7   High Price     2942 non-null   int64
 8   Mostly Low     1806 non-null   float64
 9   Mostly High    1806 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 252.8+ KB

In [17]:
# Convert to a pandas datetime object
df["Date"] = pd.to_datetime(df["Date"])

In [24]:
# 2. What was the average low price for eggs in each of the years of data?
df.groupby(df['Date'].dt.year)['Low Price'].mean()

Date
2018     59.083333
2019     27.268000
2020     32.950199
2021     49.072000
2022    188.148000
2023    118.660633
Name: Low Price, dtype: float64

In [19]:
# 3. In what year ws the increase the greatest
df.groupby(df["Date"].dt.year)['Low Price'].mean().pct_change()

Date
2018         NaN
2019   -0.538482
2020    0.208383
2021    0.489278
2022    2.834121
2023   -0.369323
Name: Low Price, dtype: float64

In [20]:
# Find the mean price for low prices for every combination of year and month
# 4. Now get the average low price for eggs in each month and year of data
df.groupby([df["Date"].dt.year, df['Date'].dt.month])['Low Price'].mean().pct_change()

Date  Date
2018  1            NaN
      2       0.254833
      3       0.530414
      4      -0.242941
      5      -0.282576
                ...
2023  7       0.176529
      8       0.008026
      9      -0.004140
      10     -0.057974
      11      0.321694
Name: Low Price, Length: 71, dtype: float64

In [23]:
# 5. Have egg prices gone down in the last few months
df.groupby([df['Date'].dt.year, df['Date'].dt.month])['Low Price'].mean().sort_index().tail(10)

Date  Date
2023  2       187.263158
      3       250.043478
      4       128.525000
      5        36.931818
      6        66.190476
      7        77.875000
      8        78.500000
      9        78.175000
      10       73.642857
      11       97.333333
Name: Low Price, dtype: float64